<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Czar.Cms.Admin.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44352" />
        </environmentVariables>
        <handlerSettings>
          <handlerSetting name="debugLevel" value="TRACE"/>
          <handlerSetting name="debugFile" value="D:\ancm.log"/>
        </handlerSettings>
      </aspNetCore>
    </system.webServer>
  </location>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
<!--配置IIS使用32位程序-->
<!--ProjectGuid: 4B43E6E2-309E-444B-AE96-64C7AAA9B4F8-->